<template>
  <hero-component />
  <aboutComponent />
  <room-list-component :roomData="rooms" />
  <shortInfoComponent />
  <footerComponent />
</template>

<script>
import heroComponent from "../components/heroComponent.vue";
import aboutComponent from "../components/aboutComponent.vue";
import roomListComponent from "../components/roomsListComponent.vue";
import shortInfoComponent from "../components/shortInfoComponent.vue";
import footerComponent from "../components/footerComponent.vue";
import json from "../assets/rooms.json";
export default {
  data() {
    return {
      rooms: json,
    };
  },
  name: "Home",
  components: {
    heroComponent: heroComponent,
    aboutComponent: aboutComponent,
    roomListComponent: roomListComponent,
    shortInfoComponent: shortInfoComponent,
    footerComponent: footerComponent,
  },
};
</script>
