<template>
  <room-page-hero />
  <roomPageInfoComponent />
  <slides-component />
  <footerComponent />
</template>

<script>
import footerComponent from "../components/footerComponent.vue";
import roomPageHero from "../components/roomPageHero.vue";
import roomPageInfoComponent from "../components/roomPageInfoComponent.vue";
import slidesComponent from "../components/slidesComponent.vue";

export default {
  name: "RoomPage",
  components: {
    footerComponent: footerComponent,
    roomPageHero: roomPageHero,
    roomPageInfoComponent: roomPageInfoComponent,
    slidesComponent: slidesComponent,
  },
  activated: function () {
    console.log("aktiveret room");
  },
};
</script>
