<template>
  <div class="about">
    <div class="about__container">
      <h1>Om Alpha</h1>
      <div class="about__content">
        <p id="redText">
          Alpha Hotels er Odenses nyeste hotel beliggende i hjertet af Odense C.
          Hotellet åbner officielt dørene for gæster i vinter 2020.
          <br />
          <br />
          Hotellet tilbyder 390 helt nyrenoverede værelser, en smuk ny café og
          en fredfyldt grøn gårdhave åben for hotellets gæster, lokale og
          forbipasserende. Cafeen og gårdhaven er indrettet til at få alle til
          at føle sig velkomne uanset anledningen.
        </p>
      </div>
    </div>
  </div>
</template>

<style>
.about {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding-top: 9.125rem;
}
.about__container {
  display: flex;
  max-width: 80rem;
  margin-left: 5rem;
}

.about__content {
  margin-left: 13.125rem;
}

.about h1 {
  width: 100%;
  max-width: 7.5rem;
  height: 0.938rem;
  color: #e94146;
  font-family: "Syne";
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.156rem;
  line-height: 1.188;
}
@media screen and (max-width: 1050px) {
  .about {
    max-width: 800px;
    padding-top: 2.125rem;
    height: 33vh;
  }
}

@media screen and (max-width: 600px) {
  .about {
    width: 80vw;
    max-width: 500px;
    padding-top: 2.125rem;
    height: 40vh;
    margin: 0;
  }
  .about__container {
    width: 90vw;
    max-width: 400px;
    margin-left: 1rem;
  }
  .about__content {
    margin: 1rem;
  }
}
</style>
