<template>
  <div class="footer">
    <div class="footer__content">
      <img src="../assets/logo_name.svg" alt="" />
      <div class="footer__content__links">
        <div class="footer__content__links__item">
          <h3>om os</h3>
          <p>Om Alpha Hotels</p>
          <p>Hotel og Spa</p>
        </div>
        <div class="footer__content__links__item">
          <h3>Kontakt</h3>
          <p>Slotsgade 26</p>
          <p>DK-5000 Odense C</p>
        </div>
        <div class="footer__content__links__item">
          <h3>Social</h3>
          <p>Facebook</p>
          <p>Instagram</p>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
img {
  filter: invert(40%) sepia(61%) saturate(4832%) hue-rotate(334deg)
    brightness(92%) contrast(98%);
}
.footer {
  background-color: #fff;
  width: 100%;
  max-width: 1440px;
  height: 20vh;
  margin: 10rem auto 0 auto;
  background: #fff;
}

.footer__content {
  display: flex;
}

.footer__content img {
  height: 42px;
  margin: 4.438rem 0 0 5rem;
}

.footer__content__links {
  display: flex;
  justify-content: space-between;
  margin: 6rem 0 0 16.938rem;
}

.footer__content__links__item:nth-child(1) {
  margin-right: 6.125rem;
}
.footer__content__links__item:nth-child(2) {
  margin-right: 5.063rem;
}

.footer__content__links__item h3 {
  height: 1.063rem;
  width: 5.438rem;
  color: #e94146;
  font-family: "Syne";
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.081rem;
  line-height: 1.063;
  margin-bottom: 1.188rem;
}

.footer__content__links__item p {
  color: #e94146;
  font-family: "Manrope";
  font-size: 0.875rem;
  letter-spacing: 0.063rem;
  line-height: 0.875rem;
  margin-bottom: 1.188rem;
}

@media screen and (max-width: 1050px) {
  .footer__content__links__item:nth-child(2) {
    margin-right: 2.063rem;
  }
  .footer__content__links__item:nth-child(1) {
    margin-right: 2.125rem;
  }

  .footer__content__links {
    display: flex;
    justify-content: space-between;
    margin: 6rem 0 0 10%;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    width: 100%;
    max-width: 700px;
  }
  .footer__content {
    display: grid;
  }

  .footer__content__links__item:nth-child(2) {
    margin-right: 0.5rem;
  }
  .footer__content__links__item:nth-child(1) {
    margin-right: 0.5rem;
  }

  .footer__content__links {
    margin: 1rem 0 0 5%;
    justify-content: left;
  }
  .footer__content img {
    height: 18px;
    margin: 0;
  }
  .footer__content__links__item p {
    font-size: 0.6rem;
    margin-bottom: 0.1rem;
  }
  .footer__content__links__item h3 {
    font-size: 0.6rem;
    margin-bottom: 0.1rem;
  }
}
</style>
