<template>
  <div
    class="header"
    :class="{ change_color: scrollPosition > 50, show: active }"
  >
    <div class="header__wrapper" :class="{ show: active }">
      <router-link to="/">
        <img
          src="../assets/logo_name.svg"
          alt=""
          id="header__logo"
          :class="{ change_color: scrollPosition > 50 }"
        />
      </router-link>
      <div
        class="header__wrapper--mobile-menu-toggle"
        @click="showMenu"
        :class="{ show: active }"
      >
        <span class="bar" :class="{ change_color: scrollPosition > 50 }"></span>
        <span class="bar" :class="{ change_color: scrollPosition > 50 }"></span>
        <span class="bar" :class="{ change_color: scrollPosition > 50 }"></span>
      </div>
      <ul class="header__wrapper__list" :class="{ show: active }">
        <li class:header__wrapper__list--item>
          <header-bar-link to="/" :class="{ change_color: scrollPosition > 50 }"
            >forside</header-bar-link
          >
        </li>
        <li class:header__wrapper__list--item>
          <header-bar-link
            to="/RoomPage"
            :class="{ change_color: scrollPosition > 50 }"
            >værelser</header-bar-link
          >
        </li>
        <li class:header__wrapper__list--item>
          <header-bar-link to="#" :class="{ change_color: scrollPosition > 50 }"
            >om hotels</header-bar-link
          >
        </li>
        <li class:header__wrapper__list--item>
          <header-bar-link to="#" :class="{ change_color: scrollPosition > 50 }"
            >kontakt</header-bar-link
          >
        </li>
        <li class:header__wrapper__list--item>
          <header-bar-link to="#" :class="{ change_color: scrollPosition > 50 }"
            >book</header-bar-link
          >
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import HeaderBarLink from "@/components/HeaderBarLink.vue";
export default {
  data() {
    return {
      scrollPosition: null,
      active: false,
    };
  },
  components: { HeaderBarLink: HeaderBarLink },

  methods: {
    updateScroll() {
      this.scrollPosition = window.scrollY;
    },
    showMenu() {
      this.active = !this.active;
      console.log(this.active);
    },
  },
  mounted() {
    window.addEventListener("scroll", this.updateScroll);
  },
};
</script>

<style>
.header {
  background-color: transparent;
  position: fixed;
  width: 100vw;
  max-width: 1440px;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  transition: background-color 0.5s ease-in-out;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  height: 100px;
  margin: 0 auto;
  padding: 0 5rem;
}

.header__wrapper__list {
  width: 650px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  height: 18px;
  padding: 3.75rem 0;
}

.header__wrapper__list--item {
  height: 18px;
  margin-left: 1.563rem;
}

#header__logo {
  margin-top: 2.25rem;
  transition: color 1s ease-in-out;
}
.header.change_color {
  background-color: rgb(255, 255, 255);
  z-index: 999;
  transition: background-color 0.5s ease-in-out;
}

.change_color #header__logo {
  filter: invert(40%) sepia(61%) saturate(4832%) hue-rotate(334deg)
    brightness(92%) contrast(98%);
  transition: color 1s ease-in-out;
}

@media screen and (max-width: 1050px) {
  .header {
    height: 9vh;
  }

  .header__wrapper {
    width: 100vw;
    max-width: 1000px;
    position: absolute;
    z-index: 2;
  }

  .header__wrapper__list {
    position: absolute;
    display: block;
    width: 20vw;
    height: 400px;
    right: 0;
    background-color: #fff;
    top: -500px;
    transition: top 0.3s ease-out;
  }
  .header__wrapper__list.show {
    display: block;
    width: 20vw;
    height: 400px;
    background-color: #fff;
    top: 0;
    transition: top 0.5s ease-in-out;
  }
  .link {
    text-align: center;
    padding-top: 2.188rem;
    font-size: 1rem;
    width: 100%;
    display: table;
    color: red;
  }
  .header__wrapper__list--item {
    width: 100%;
  }

  .header__wrapper--mobile-menu-toggle {
    position: fixed;
    margin-top: 3.125rem;
    right: 10%;
    background-color: transparent;
    z-index: 999;
  }
  .header__wrapper--mobile-menu-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 0.313rem auto;
    background: #fff;
    display: block;
    transition: all 0.3s ease-in-out;
  }
  .header__wrapper--mobile-menu-toggle .bar.change_color {
    background: #e94146;
  }
  .header__wrapper--mobile-menu-toggle:hover {
    cursor: pointer;
  }

  .header__wrapper--mobile-menu-toggle.show .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background: #e94146;
  }

  .header__wrapper--mobile-menu-toggle.show .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background: #e94146;
  }

  .header__wrapper--mobile-menu-toggle.show .bar:nth-child(2) {
    background: #e94146;
    opacity: 0;
  }
}
@media screen and (max-width: 600px) {
  .header {
    height: 6vh;
  }
  #header__logo {
    width: 35%;
    margin: 1rem 1rem;
  }
  .header__wrapper {
    padding: 0;
    height: 5vh;
  }
  .header__wrapper--mobile-menu-toggle {
    margin-top: 1rem;
  }
  .header__wrapper__list {
    width: 35%;
    height: 35vh;
  }
  .header__wrapper__list.show {
    width: 35%;
    height: 35vh;
  }

  .link {
    font-size: 0.75rem;
    padding-top: 1rem;
  }
}
</style>
