<template>
  <router-link :to="to" class="link" :class="{ active: isActive }">
    <slot />
  </router-link>
</template>

<script>
import { computed } from "vue";
import { useRoute } from "vue-router";

export default {
  props: {
    to: { type: String, required: true },
  },
  setup(props) {
    const route = useRoute();
    const isActive = computed(() => route.path === props.to); //checks which route is active
    return { isActive };
  },
};
</script>

<style>
.link {
  text-transform: uppercase;
  text-decoration: none;
  color: #fbf4ef;
  font-family: "Syne";
  font-weight: bold;
  letter-spacing: 0.094rem;
  line-height: 1.125rem;
  text-align: right;
  height: 1.75rem;
  transition: color 0.3s ease;
  padding-bottom: 0.5rem;
}

.link:hover {
  color: #acacac;
  transition: all 0.3s ease;
  cursor: pointer;
}

.link.active {
  border-bottom: 1px solid #fbf4ef;
  transition: border-bottom 0.5s ease-in-out;
}

.link.change_color {
  color: #e94146;
  transition: color 1.5s ease-in-out;
}

.link.active.change_color {
  border-bottom: 1px solid #e94146;
  transition: border-bottom 1.5s ease-in-out;
}
</style>
