<template>
  <div class="hero" id="home">
    <div class="hero__container">
      <div class="hero__container__content">
        <h1 class="hero__heading">Nyt hotel i centrum af Odense</h1>
        <button class="hero__button"><a href="#">LÆS MERE</a></button>
      </div>
    </div>
  </div>
</template>

<style>
.hero__container {
  margin: auto;
  background-image: url(../assets/hero_img.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  max-width: 1440px;
  height: 800px;
  display: flex;
  align-items: center;
}
.hero__container__content {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  margin-left: 11.938rem;
  margin-right: 11rem;
  padding-top: 3.125rem;
  height: 50%;
}

.hero__heading {
  font-family: "Syne", sans-serif;
  color: #fcf7f2;
  font-size: 6.875rem;
  line-height: 6.875rem;
  letter-spacing: 1px;
}

.hero__button {
  background-color: #e94146;
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  border: none;
  margin-top: 2rem;
  width: 14rem;
  height: 4.125rem;
  transition: 0.3s ease-in;
}

.hero__button a {
  color: #fff;
  text-decoration: none;
}

.hero__button:hover,
a.button:hover {
  cursor: pointer;
  transform: scale(1.015);
  background-color: #af2d32;
  transition: all 0.3s ease-in;
}

@media screen and (max-width: 1000px) {
  .hero__container {
    max-width: 1000px;
    height: 500px;
    display: inline-block;
  }
  .hero__container__content {
    margin-left: 6.938rem;
    margin-right: 1rem;
    display: inline-block;
    margin-top: 3rem;
    height: 50%;
  }
  .hero__heading {
    font-size: 4.875rem;
    line-height: 3.875rem;
    letter-spacing: 1px;
  }
  .hero__button {
    width: 11rem;
    height: 3rem;
  }

  @media screen and (max-width: 600px) {
    .hero__heading {
      font-size: 1.875rem;
      line-height: 1.875rem;
      letter-spacing: 1px;
    }
    .hero__button {
      width: 5rem;
      height: 2rem;
      margin-top: 0;
      float: right;
    }
    .hero__button a {
      font-size: 0.75rem;
    }
    .hero__container {
      height: 25vh;
    }
  }
}
</style>
