<template>
  <div class="rooms">
    <div class="rooms__container">
      <div
        v-for="(room, i) in roomData.slice(0, 4)"
        :key="room.id"
        class="rooms__container__content"
      >
        <router-link :to="{ name: 'RoomPage' }"
          ><img :src="getImgUrl(i)" alt="" class="room-img"
        /></router-link>
        <h2 id="redHeader">
          <router-link :to="{ name: 'RoomPage' }" class="router-link">{{
            room.type
          }}</router-link>
        </h2>
        <router-link :to="{ name: 'RoomPage' }" class="router-link">
          <p>læs mere</p>
          <img src="../assets/arrow.svg" class="arrow" />
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["roomData"],
  methods: {
    getImgUrl(index) {
      let roomImg = this.roomData[index].img;
      return roomImg;
    },
  },
};
</script>

<style scoped>
.router-link {
  color: #e94146;
  display: flex;
  flex-direction: center;
  align-items: center;
  transition: color 0.3s ease-in-out;
}

.rooms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.rooms__container {
  width: 100vw;
  max-width: 1440px;
  padding: 136px 80px 0 80px;
}

.rooms__container__content {
  display: inline-block;
}
.rooms__container__content p {
  height: 1.188rem;
  width: 6.125rem;
  color: #e94146;
  font-family: "Manrope";
  font-size: 0.875rem;
  font-weight: 800;
  letter-spacing: 0.063rem;
  line-height: 1.188rem;
  text-transform: uppercase;
}

.rooms__container__content:nth-child(1) {
  width: 40.056vw;
  max-width: 620px;
  min-width: 310px;
}
.rooms__container__content:nth-child(2) {
  width: 32.417vw;
  max-width: 510px;
  min-width: 255px;
  margin-left: 9.375rem;
  vertical-align: top;
}
.rooms__container__content:nth-child(3) {
  margin-top: 74px;
  vertical-align: top;
  width: 32.417vw;
  max-width: 510px;
  min-width: 255px;
}
.rooms__container__content:nth-child(4) {
  margin: 39px 0 0 149px;
  vertical-align: top;
  width: 40.056vw;
  max-width: 620px;
  min-width: 310px;
}

.rooms__container__content .room-img {
  width: 100%;
}

.arrow {
  transform: rotate(180deg) scale(0.6);
  margin-top: 0.2rem;
}
.room-img {
  transition: transform 0.5s ease-in-out;
}
.router-link:hover {
  color: #af2d32;
  transition: color 0.3s ease-in-out;
}
p:hover {
  color: #af2d32;
  transition: color 0.3s ease-in-out;
}

.room-img:hover {
  transform: scale(1.02);
  transition: transform 0.5s ease-in-out;
}
@media screen and (max-width: 1150px) {
  .rooms {
    margin-top: 5rem;
    width: 100vh;
    max-width: 800px;
  }

  .rooms__container {
    width: 50vw;
    max-width: 500px;
    padding-left: 12vw;
    display: grid;
    grid-template-columns: 1fr;
  }

  .rooms__container__content {
    display: inline-block;
  }
  .rooms__container__content:nth-child(1) {
    width: 45vw;
    min-width: 20vh;
    margin: 0;
  }
  .rooms__container__content:nth-child(2) {
    width: 45vw;
    margin: 0;
  }
  .rooms__container__content:nth-child(3) {
    width: 45vw;
    max-width: 510px;
    margin: 0;
  }
  .rooms__container__content:nth-child(4) {
    width: 45vw;
    max-width: 620px;
    min-width: 20vh;
    margin: 0;
  }

  @media screen and (max-width: 700px) {
    .rooms {
      margin-top: 5rem;
      width: 100vh;
      max-width: 250px;
    }
    .rooms__container__content:nth-child(1) {
      width: 70vw;
      max-width: 90%;
      min-width: 20vh;
      margin: 2rem 0;
    }
    .rooms__container__content:nth-child(2) {
      width: 45vw;
      margin: 2rem 0;
    }
    .rooms__container__content:nth-child(3) {
      width: 45vw;
      max-width: 510px;
      margin: 2rem 0;
    }
    .rooms__container__content:nth-child(4) {
      width: 70vw;
      max-width: 620px;
      min-width: 20vh;
      margin: 2rem 0;
    }
  }
}
</style>
