<template>
  <div class="roomAbout">
    <div class="roomAbout__container">
      <div class="roomAbout__container__list">
        <ul>
          <li v-for="(item, i) in items" :key="i">
            <p class="list__roomItem">{{ item.item }}:</p>
            <p class="list__itemInfo">{{ item.answer }}</p>
          </li>
        </ul>
      </div>
      <div class="roomAbout__content__descr">
        <h2>Dobbeltværelse</h2>
        <p id="redText">
          Vores charmerende og lyse dobbeltværelser har alle en stor behagelig
          dobbeltseng samt en hyggelig krog med enten skrivebord eller
          siddeområde. Værelset er velegnet til par eller den individuelle
          rejsende, som ønsker lidt mere plads.
          <br />
          Vi tilbyder et begrænset antal sammenhængende værelser, ideelt til en
          familie med større børn eller flere der rejser sammen. Disse værelser
          reserveres på forespørgsel.
        </p>
        <button class="hero__button"><a href="#">book</a></button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: ["list-item"],
  data() {
    return {
      items: [
        {
          item: "Personer",
          answer: "2",
        },
        {
          item: "Seng",
          answer: "1",
        },
        {
          item: "Bad",
          answer: "1",
        },
        {
          item: "Håndtørrer",
          answer: "Ja",
        },
        {
          item: "Kabel tv",
          answer: "Ja",
        },
        {
          item: "WiFi",
          answer: "Ja",
        },
      ],
    };
  },
};
</script>

<style scoped>
button {
  text-transform: uppercase;
  width: 144px;
}

.roomAbout {
  margin-bottom: 7.5rem;
}

.roomAbout__container {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 8.125rem 0 0 5rem;
}
.roomAbout__container__list {
  margin-top: 4.375rem;
  width: 15vw;
}

.roomAbout__container__list p {
  height: 1.25rem;
  color: #e94146;
  font-family: "Manrope";
  font-size: 0.875rem;
  letter-spacing: 0;
  line-height: 1.25rem;
  width: 0.625rem;
}
.roomAbout__container__list li {
  display: flex;
  margin-bottom: 0.938rem;
}
.list__roomItem {
  height: 1.25rem;
  color: #e94146;
  font-family: "Manrope";
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.25rem;
}

.list__itemInfo {
  padding-left: 7rem;
}
.roomAbout__content__descr {
  margin-left: 13rem;
  padding-right: 2.5rem;
}
.roomAbout__content__descr h2 {
  height: 1.375rem;
  width: 27.063rem;
  color: #e94146;
  font-family: "Syne";
  font-size: 2.188rem;
  font-weight: bold;
  letter-spacing: 0.019rem;
  line-height: 2.5rem;
  margin-bottom: 2.288rem;
}

@media screen and (max-width: 1000px) {
  .roomAbout__content__descr button {
    margin-top: 10rem;
  }
}
@media screen and (max-width: 600px) {
  .roomAbout__container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    width: 90vw;
    max-width: 90%;
  }
  .roomAbout {
    margin: 0;
  }
  .roomAbout__container {
    padding: 0;
  }
  .roomAbout__content__descr {
    width: 100%;
    height: 65vh;
    margin: 1rem 0 0 0;
  }

  .roomAbout__content__descr p {
    height: 100vh;
  }
  .roomAbout__content__descr h2 {
    font-size: 1.5rem;
    width: 75%;
  }
  .roomAbout__content__descr .hero__button {
    margin: 10rem 1rem;
  }
}
</style>
