<template>
  <div class="roomHero">
    <div class="roomHero__container">
      <div class="roomHero__container__content">
        <h1 class="roomHero__heading">Dobbeltværelse</h1>
      </div>
    </div>
  </div>
</template>

<style>
.roomHero__container {
  margin: auto;
  background-image: url(https://i.imgur.com/SsUCBlO.png);
  background-repeat: no-repeat;
  background-size: 100%;
  max-width: 1440px;
  height: 600px;
  display: flex;
  align-items: center;
}
.roomHero__container__content {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  margin-left: 11.938rem;
  margin-right: 11rem;
  padding-top: 3.125rem;
  height: 50%;
}

.roomHero__heading {
  font-family: "Syne", sans-serif;
  color: #fcf7f2;
  font-size: 6.875rem;
  line-height: 6.875rem;
  letter-spacing: 1px;
}

@media screen and (max-width: 1100px) {
  .roomHero__heading {
    font-size: 4.5rem;
  }
  .roomHero__container {
    max-width: 1000px;
    height: 33vh;
  }
  .roomHero__container__content {
    margin-left: 6.938rem;
    margin-right: 1rem;
    display: inline-block;
    height: 50%;
  }
}

@media screen and (max-width: 600px) {
  .roomHero__heading {
    font-size: 1.8rem;
    letter-spacing: 0.3rem;
  }
  .roomHero__container {
    height: 20vh;
  }
  .roomHero__container__content {
    margin-left: 1.938rem;
    margin-right: 1rem;
    display: inline-block;
    height: 100%;
  }
}
</style>
