<template>
  <div class="shortInfo">
    <div class="shortInfo__content">
      <p>
        Omgivet af bøgeskov og med udsigt til fjorden ligger vores smukke hotel
        – også kaldet "Slottet i skoven".
        <br />
        <br />
        Du kan bestille hotel overnatninger - men også dejlige spaophold, som på
        Hotel Alpha ALTID er inklusiv adgang til De Termiske Bade & Thalasso
        Spa, middag, overnatning og morgenbuffet.
      </p>
      <router-link :to="{ name: 'RoomPage' }" class="router-link">
        <p>se alle værelser</p>
        <img src="../assets/arrow.svg" class="arrow" />
      </router-link>
    </div>
  </div>
</template>

<style>
.shortInfo {
  padding-top: 7.438rem;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  height: 25rem;
}

.shortInfo__content {
  display: flex;
  flex-direction: column;
  max-width: 52.5rem;
  margin-right: 7.5rem;
  margin-left: 25.625rem;
}

.shortInfo__content p {
  color: #e94146;
  font-family: "Manrope";
  font-size: 1.25rem;
  letter-spacing: 0rem;
  line-height: 2.313rem;
}
.shortInfo__content .router-link {
  display: flex;
}

.shortInfo__content .router-link .arrow {
  transform: rotate(180deg) scale(0.6);
  margin-top: 2.2rem;
}
.shortInfo__content .router-link p {
  text-transform: uppercase;
  text-decoration: none;
  height: 1.125rem;
  width: 12.5rem;
  color: #e94146;
  font-family: "Montserrat";
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.081rem;
  line-height: 1.125rem;
  margin-top: 2.5rem;
}

@media screen and (max-width: 600px) {
  .shortInfo {
    width: 70vw;
    max-width: 300px;
    margin: 0 0 0 1rem;
    padding: 0;
  }

  .shortInfo__content {
    width: 70vw;
    display: inline-block;
    margin: 0;
  }
  .shortInfo__content p {
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .shortInfo__content .router-link .arrow {
    transform: rotate(180deg) scale(0.6);
    margin-top: 0.75rem;
  }
}
</style>
