<template>
  <div class="slides">
    <div
      :style="{
        width: innerWidth + 'px',
        marginLeft: '-' + slideInnerMarginLeft + 'px',
      }"
      class="slides-inner"
    >
      <Slide
        :style="{ width: singleWidth + 'px' }"
        v-for="(slide, i) in slides"
        :key="i"
        :slide="slide"
      >
      </Slide>
    </div>
    <div class="slides__navigation">
      <img
        @click="goToPrev"
        src="../assets/arrow.svg"
        alt=""
        class="slides__navigation--arrow"
        id="left-arrow"
      />
      <img
        @click="goToNext"
        src="../assets/arrow.svg"
        alt=""
        class="slides__navigation--arrow"
        id="right-arrow"
      />
    </div>
  </div>
</template>

<script>
import Slide from "./slideComponent";
export default {
  data() {
    return {
      slides: [
        { src: "https://i.imgur.com/SsUCBlO.png" },
        { src: "https://i.imgur.com/AdO6Y22.png" },
        { src: "https://i.imgur.com/SsUCBlO.png" },
        { src: "https://i.imgur.com/AdO6Y22.png" },
      ],
      innerWidth: 0,
      singleWidth: 950,
      currentIndex: 0,
    };
  },
  computed: {
    //returns the value that the image should move to the left
    slideInnerMarginLeft() {
      return this.currentIndex * this.singleWidth;
    },
  },
  components: {
    Slide,
  },
  methods: {
    //sets currentindex based on arrow pressed
    goToPrev() {
      this.currentIndex--;
      //if we go under the beginning of slide elements, we go to the last image
      if (this.currentIndex < 0) {
        this.currentIndex = this.slides.length - 1;
      }
    },
    //increments currentindex
    goToNext() {
      this.currentIndex++;
      //if we go above the number of slide elements we go to the first image
      if (this.currentIndex > this.slides.length - 1) {
        this.currentIndex = 0;
      }
    },
    //sets the width of the slides based on screen width
    handleResize() {
      if (window.innerWidth <= 850) {
        console.log("window: " + window.innerWidth);
        this.singleWidth = 350;
      } else {
        console.log("window: " + window.innerWidth);

        this.singleWidth = 950;
      }
    },
  },
  //calcuate the total width of the image slider based on number of images and their width
  beforeMount() {
    let innerWidth = this.singleWidth * this.slides.length;
    this.innerWidth = innerWidth;
  },
  created() {
    window.addEventListener("resize", this.handleResize);
    this.handleResize();
  },
  unmounted() {
    window.removeEventListener("resize", this.handleResize);
  },
};
</script>

<style scoped>
.slides {
  width: 100%;
  max-width: 1320px;
  overflow: hidden;
  text-align: right;
  margin: 0 auto;
}

.slides-inner {
  transition: margin 0.8s ease-in-out;
  display: flex;
}

.slides__navigation {
  margin-top: 3rem;
}

.slides__navigation--arrow:hover {
  cursor: pointer;
}

#right-arrow {
  transform: rotate(180deg) scale(1);
  margin-left: 2.938rem;
  transition: all 0.15s ease-in;
}
#left-arrow {
  transform: scale(1);
  transition: all 0.15s ease-in;
}
#right-arrow:hover {
  transform: rotate(180deg) scale(1.115);
  transition: transform 0.15s ease-in;
}
#left-arrow:hover {
  transform: scale(1.115);
  transition: transform 0.15s ease-in;
}
#right-arrow:active {
  transform: rotate(180deg) scale(0.85);
  transition: transform 0.3s ease-in-out;
}
#left-arrow:active {
  transform: scale(0.85);
  transition: transform 0.3s ease-in-out;
}

@media screen and (max-width: 700px) {
  .slides {
    width: 100%;
    max-width: 500px;
  }
  .slides__navigation {
    width: 65%;
  }
}
</style>
