<template>
  <div class="slide">
    <img :src="slide.src" alt="" />
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  props: {
    slide: {
      type: String,
      default: "slide",
    },
  },
};
</script>

<style scoped>
img {
  max-width: 100%;
}

.slide {
  flex: 950px;
  align-self: center;
  padding: 0 1.25rem 0 1.25rem;
}
@media screen and (max-width: 700px) {
  .slide {
    height: 50%;
    width: 450px;
  }
  img {
    width: 80%;
  }
}
</style>
