@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&family=Syne:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #ffdbc3;
}

#redText {
  height: 222px;
  color: #e94146;
  font-family: "Manrope";
  font-size: 1.25rem;
  letter-spacing: 0;
  line-height: 2.313rem;
}

#redHeader {
  height: 40px;
  width: 433px;
  color: #e94146;
  font-family: "Syne";
  font-size: 2.188rem;
  font-weight: bold;
  letter-spacing: 0.32px;
  line-height: 2.5rem;
  margin: 3.125rem 0 2.5rem 0;
}

.router-link {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  #redHeader {
    font-size: 1rem;
    max-width: 200px;
    margin: 0;
  }
  #redText {
    font-size: 0.9rem;
  }
}
