<template>
  <header-bar />
  <router-view />
</template>

<script>
import HeaderBar from "./components/HeaderBar.vue";
export default {
  components: {
    HeaderBar,
  },
};
</script>
<style>
@import "./components/style.css";
</style>
